


      .header {
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  margin: 0;
  padding: 0 20px; 
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  flex-wrap: wrap; 
}

.logo img {
  max-width: 150px;
  height: auto;
}

.icons {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.icons a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
}

.searchbar {
  border: 2px solid rgb(247, 243, 243);
  border-radius: 5px;
  width: 400px;
  max-width: 60%;
  height: 30px;
  padding: 5px 10px;
}

.icons img {
  width: 28px;
  height: auto;
}


@media (max-width: 992px) {
  .searchbar {
    width: 250px;
    max-width: 50%;
  }

  .icons a{
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .icons {
    justify-content: center;
    gap: 10px;
  }

  .searchbar {
    width: 100%;
    margin-top: 10px;
  }
}

@media (max-width: 480px) {
  .logo img {
    max-width: 120px;
  }

  .icons a {
    font-size: 0.8rem;
    margin: 0;
  }

  .icons img {
    width: 22px;
  }

  .searchbar {
    font-size: 0.8rem;
    height: 28px;
  }
}
